;; Copyright © 2020, JUXT LTD.

{:paths ["src"]
 :deps
 {edn-query-language/eql {:mvn/version "1.0.0"}
  metosin/jsonista {:mvn/version "0.2.5"}
  ring/ring-core {:mvn/version "1.8.0"}
  ring/ring-jetty-adapter {:mvn/version "1.8.0"}

  juxt/reap
  {:git/url "https://github.com/juxt/reap.git"
   :sha "ec8c50c74781b98a5a92d2fd8aaf845fe1c42eab"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :override-deps {juxt.edge/logging.dev {:local/root "dev/logging"}}
   :extra-deps
   {juxt.edge/lib.app.dev
    {:git/url "https://github.com/juxt/edge.git"
     :sha "b5f853ad71743382462f7e06f144687523211bc7"
     :deps/root "lib/edge.app.dev"}

    juxt.edge/lib.app.logging
    {:git/url "https://github.com/juxt/edge.git"
     :sha "b5f853ad71743382462f7e06f144687523211bc7"
     :deps/root "lib/edge.app.logging"}

    juxt.crux/ig
    {:git/url "https://github.com/juxt/edge.git"
     :sha "b5f853ad71743382462f7e06f144687523211bc7"
     :deps/root "lib/crux.ig"}

    org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}

    juxt/crux-core {:mvn/version "RELEASE"}
    juxt/crux-test {:mvn/version "RELEASE"}

    ;; For benchmarking against reap
    clj-antlr {:mvn/version "0.2.5"}

    criterium {:mvn/version "0.4.5"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}
    }
   :main-opts ["-m" "cognitect.test-runner"]}}}
